#background {
	box-sizing: border-box;
	background-color: rgb(194, 166, 129);
	background-size: 100%;
	margin-top: auto;
	margin-left: 150px;
	margin-right: 150px;	
}
#mainbackground {
	box-sizing: border-box;
	background-color: tan;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: auto;
}
#logo {
	box-sizing: border-box;
	display: flex;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul {
	display: flex;
}
li {
	box-sizing: content-box;
	list-style-type: none;
	margin: 13px;
	font-size: 20px;
}
a {
	box-sizing: content-box;
	list-style-type: none;
	text-decoration: none;
	background-color: #a81b1b;
	color: black;
}
nav {
	box-sizing: border-box;
	width: auto;
	background-color: #a81b1b;
}
#navlinks {
	box-sizing: border-box;
	margin-left: 40px;
}
h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}

h2 {
    font-size: 16pt;
    padding-left: 50px;
    padding-bottom: 20px;
}

hr {
    background-color: #252121;
    height: 1.5px;
	margin-left: 140px;
	margin-right: 150px;
}
p {
	font-family: 'Lora', serif;
	line-height: 32px;
    font-size: 13pt;
    font-weight: 500;
    text-indent: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
footer {
	text-align: right;
	font-size: 10pt;
	color: darkslategrey;
	padding-right: 10px;
	padding-bottom: 10px;
}

/* Dropdown Button */
.dropbtn {
	background-color: #a81b1b;
	color: black;
	padding: 16px;
	font-size: 18px;
	border: none;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	box-sizing: content-box;
	display: none;
	position: absolute;
	background-color: #a81b1b;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
	box-sizing: border-box;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
	  background-color: rgb(184, 30, 30);
}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	  display: block;
}  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	  background-color: rgb(184, 30, 30);
}
  
#foot {
    display: flex;
    text-align: left;
    font-size: 12pt;
    color: #a81b1b;
    background-color: tan;
    padding-top: 300px;
    padding-left: 40px;
}

#content {
    padding-top: 25px;
}